<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Welcome To Stock Management</h1>
    </div>
    <div>
        <p>Not all Warehouse Management Systems (WMS) are created equal,
            and you must consider many variables when selecting one.
            The right WMS solution can streamline order fulfillment, increase inventory accuracy,
            enhance employee performance,
            and maximize equipment utilization. Above all,
            a WMS saves time and money while increasing customer satisfaction. Eric Lamphier,
            senior director of product management for Manhattan Associates, offers these tips to help you select a WMS.

            1. Know what you need. Document, socialize, and refine your functional and technical requirements,
            priorities, plans, and integration needs. Before you meet with external parties,
            assign a weight to each group or bundle on your list to start constructing a decision-making framework.

            2. Get others involved. A WMS selection, implementation, and support lifecycle affects many people.
            There are facility, change management and training, transportation, IT/technology, supplier, customer,
            customer support, e-commerce, multi-site, and labor impacts. Include third-party experts if you need to.
        </p>
    </div>
    <div>
        <p>Not all Warehouse Management Systems (WMS) are created equal,
            and you must consider many variables when selecting one.
            The right WMS solution can streamline order fulfillment, increase inventory accuracy,
            enhance employee performance,
            and maximize equipment utilization. Above all,
            a WMS saves time and money while increasing customer satisfaction. Eric Lamphier,
            senior director of product management for Manhattan Associates, offers these tips to help you select a WMS.

            1. Know what you need. Document, socialize, and refine your functional and technical requirements,
            priorities, plans, and integration needs. Before you meet with external parties,
            assign a weight to each group or bundle on your list to start constructing a decision-making framework.

            2. Get others involved. A WMS selection, implementation, and support lifecycle affects many people.
            There are facility, change management and training, transportation, IT/technology, supplier, customer,
            customer support, e-commerce, multi-site, and labor impacts. Include third-party experts if you need to.
        </p>
    </div>
    <div>
        <p>Not all Warehouse Management Systems (WMS) are created equal,
            and you must consider many variables when selecting one.
            The right WMS solution can streamline order fulfillment, increase inventory accuracy,
            enhance employee performance,
            and maximize equipment utilization. Above all,
            a WMS saves time and money while increasing customer satisfaction. Eric Lamphier,
            senior director of product management for Manhattan Associates, offers these tips to help you select a WMS.

            1. Know what you need. Document, socialize, and refine your functional and technical requirements,
            priorities, plans, and integration needs. Before you meet with external parties,
            assign a weight to each group or bundle on your list to start constructing a decision-making framework.

            2. Get others involved. A WMS selection, implementation, and support lifecycle affects many people.
            There are facility, change management and training, transportation, IT/technology, supplier, customer,
            customer support, e-commerce, multi-site, and labor impacts. Include third-party experts if you need to.
        </p>
    </div>
    
</body>

</html>