<div class="col-md-6 offset-md-3">
<form [formGroup] ='forms' (ngSubmit)='printForm()'>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" formControlName='name'>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" formControlName='email'>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" formControlName='password'>
    </div>       

   <button class="btn btn-primary" (click)='addSkill()'>Add Skill</button>
   <div formArrayName='skills' 
    *ngFor ='let control of forms.get("skills").controls; index as i'>
    <div [formGroupName]='i'>
        <div class="form-group">
            <label for ="{{'skill + (i+1))'}}">Skill {{i+1}}</label>
            <input type="text" name="skill" id="{{'skill' + i}}"
                formControlName ='skill' class = "form-control">
            <input type="radio" formControlName = 'rating'
                value="beginner" id="{{'rating'+i+1}}">Beginner
            <input type="radio" formControlName = 'rating'
                value="intermediate" id="{{'rating'+i+2}}">Intermediate
            <input type="radio" formControlName = 'rating'
                value="expert" id="{{'rating'+i+3}}">Expert
            <button (click) ='removeskill(i)' type="button" class="btn btn-outline-primary float-right">
                &times;</button>
        </div>
    </div>   
</div>
<button type="submit" class="btn btn-outline-primary float-right">Submit</button>
</form>
</div>
